body{
    font-family: sans-serif!important;
}
.valor{
    width: 100% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: static !important;
}
.ve {
    width: 50% !important;
    text-align: center !important;
    border-radius: 2em !important;
    position: fixed !important;
}
.center_texto {
    text-align: center !important;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
.small{
    font-size: 40px;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
button {
    background-color: transparent;
    border: none;
}
.fon{
    font-size: 30px;
    padding-right: 8px;
}
.intel {
    width: 100%!important;
    height: 100px;
    position: fixed!important;
}
.button3{
    margin-top: 6px!important;
    text-align: left!important;
}
.bto{
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
    height: 100vh!important;
}
.bott{
    width: 100%!important;
    position: fixed;
}
div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.prueba_color{
    margin-bottom: 1em;
    background-color:#2b303e;
    width: 100%!important;
}
.dipp{
    padding: 0;
    width: 70%!important;
    display: inline-block!important;
}

.dipp2 {
    padding: 0;
    width: 20% !important;
    display: inline-block !important;
}
.po{
    text-align: right!important;
}
.pppp{
    font-size: 20px;
}