body{
    font-family: sans-serif!important;
}
.valor{
    width: 100% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: static !important;
}
.ve {
    width: 50% !important;
    text-align: center !important;
    border-radius: 2em !important;
    position: fixed !important;
}
.center_texto {
    text-align: center !important;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
.small{
    font-size: 40px;
}